/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"

*= require "nv.d3.css"

*/

@font-face {
  font-family: percentage;
  src: url(../fonts/percentages.woff);
}

body, ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.main {
  max-width: none;
}

header {
  margin-bottom: 8px;
  padding-left: 5px;
  width: 100%;
  border-bottom: 1px dotted #7d7d7d;
  background: #FFFFFF; width: 100%;

  .logo {
    width: 200px;
    height: 40px;
  }

  .wrap {
    position: relative;
    padding: 8px 0 0;
    margin: 0 auto;

    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }

  h2 {
    float: left;

    img {
      display: inline-block;
    }
  }
}

/* beginning of navigation menu */
#nav {
  display: inline-block;
  float: right;
  margin: 0 10px;
  padding: 7px 8px 0;
  background: #7d7d7d url(../images/gradient.png) repeat-x 0 -110px;
  line-height: 100%;

  -webkit-border-radius: 2em;
  -moz-border-radius: 2em 2em 0 0;
  border-radius: 2em;

  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
  box-shadow: 0 1px 3px rgba(0,0,0, .4);

  li {
    margin: 0 1px;
    padding: 0 0 7px;
    float: left;
    position: relative;
    list-style: none;

    /* main level link hover */
    &.current a, &:hover > a {
      background: #666 url(../images/gradient.png) repeat-x 0 -40px;
      color: #444;
      border-top: solid 1px #f8f8f8;

      -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
      -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
      box-shadow: 0 1px 1px rgba(0,0,0, .2);

      text-shadow: 0 1px 0 rgba(255,255,255, 1);
    }
  }

  /* main level link */
  a {
    font-weight: bold;
    color: #e7e5e5;
    text-decoration: none;
    display: block;
    padding: 6px 20px;
    margin: 0;
    -webkit-border-radius: 1.6em;
    -moz-border-radius: 1.6em;
    border-radius: 1.6em;

    text-shadow: 0 1px 1px rgba(0,0,0, .3);

    &:hover {
      background: #000;
      color: #fff;
    }
  }

  /* sub levels link hover */
  ul li:hover a, li:hover li a {
    background: none;
    border: none;
    color: #666;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  ul a:hover {
    background: #0078ff url(../images/gradient.png) repeat-x 0 -100px !important;
    color: #fff !important;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    text-shadow: 0 1px 1px rgba(0,0,0, .1);
  }

  /* dropdown */
  li:hover > ul {
    display: block;
  }

  /* level 2 list */
  ul {
    display: none;

    z-index: 1000;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    top: 30px;
    left: 0;
    background: #ddd url(../images/gradient.png) repeat-x 0 0;
    border: solid 1px #b4b4b4;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    box-shadow: 0 1px 3px rgba(0,0,0, .3);

    li {
      float: none;
      margin: 0;
      padding: 0;

      /* rounded corners of first and last link */
      &:first-child > a {
        -webkit-border-top-left-radius: 9px;
        -moz-border-radius-topleft: 9px;
        border-top-left-radius: 9px;

        -webkit-border-top-right-radius: 9px;
        -moz-border-radius-topright: 9px;
        border-top-right-radius: 9px;
      }

      &:last-child > a {
        -webkit-border-bottom-left-radius: 9px;
        -moz-border-radius-bottomleft: 9px;
        border-bottom-left-radius: 9px;

        -webkit-border-bottom-right-radius: 9px;
        -moz-border-radius-bottomright: 9px;
        border-bottom-right-radius: 9px;
      }
    }

    a {
      font-weight: normal;
      text-shadow: 0 1px 0 #fff;
    }

    /* level 3+ list */
    ul {
      left: 151px;
      top: -3px;
    }
  }

  /* clearfix */
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

* html #nav {
  height: 1%;
}
/* end of navigation menu */

.main {
  padding: 10px;

  h2 {
    font-size: large;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .generated-note, .note {
    font-size: small;
  }
}

#timespan, #players {
  margin-bottom: 10px;
}

#rankings-chart, #rank-history {
  margin-bottom: 20px;
}

#rank-history svg {
  height: 600px;
}

button.update {
  margin-left: 20px;
}

.player {
  display: inline-block;
  vertical-align: top;
  min-width: 160px;
  max-width: 160px;

  div {
    display: inline-block;
    padding-left: 5px;
  }
}

#map {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
}

.map-info p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.jqplot-point-label {
  color: #bbb;
}

#contextMenu {
  background: #F9F9F9;
  box-shadow: 0 0 12px rgba( 0, 0, 0, .3 );
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  top: 0; left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 100px;

  li {
    position: relative;

    &:hover {
      background: #444;

      a {
        color: #f9f9f9;
      }
    }

    &:last-child a {
      border-bottom: none;
    }
  }

  a {
    color: #444;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    width: 85%;
  }
}

#schedule {
  margin-top: 20px;

  .tournament {
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 20px;
    background: #bbb;

    &.future {
      background: #eee;
    }

    div, img {
      vertical-align: middle;
    }

    div {
      display: inline-block;
      margin: 2px 0
    }

    &.won { background: gold; }
    &.final { background: #eec; }
    &.semi-final { background: #CD7F32; }
    &.quarter-final { background: #c9c; }

    table {
      td {
        padding: 3px;
      }

      tr.defeated td:last-child{
        color: #c22;
        font-weight: bold;
      }

      tr.lost-to td:last-child{
        color: #272;
        font-weight: bold;
      }
    }
  }

  .start {
    width: 100px;
  }

  .logo {
    width: 80px;
  }

  .name {
    width: 300px;
  }

  .detail {
    max-width: 450px;
  }
}

#win-loss-form {
  label {
    padding-right: 20px;
  }
}
#win-loss-chart, h2 .players {
  .jqplot-point-label {
    color: #444
  }

  .h-grid {
    $gridColor: #bbb;
    line {
      stroke: $gridColor;
      shape-rendering: crispEdges;
    }
    text {
      fill: #888;
    }
  }

  .percentage-label {
    text-align: center;
  }

  .line {
    fill: none;
    stroke-width: 2;
  }

  .player {
    .loss {
      fill: #495
    }

    .percentage {
      fill: #65d
    }
  }

  $player0color: #f54;
  $player1color: #8c564b;
  $player2color: #1f77b4;
  $player3color: #9467bd;

  .player0 {
    color: $player0color;
    .win, text {
      fill: $player0color;
    }
    &.line {
      stroke: $player0color;
    }
  }

  .player1 {
    color: $player1color;
    .win, text {
      fill: $player1color;
    }
    &.line {
      stroke: $player1color;
    }
  }

  .player2 {
    color: $player2color;
    .win, text {
      fill: $player2color;
    }
    &.line {
      stroke: $player2color;
    }
  }

  .player3 {
    color: $player3color;
    .win, text {
      fill: $player3color;
    }
    &.line {
      stroke: $player3color;
    }
  }
}

h2 .players {
  font-weight: bold;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#rankings-form {
  padding-bottom: 10px;
  padding-left: 40px;
  width: 1000px;
  text-align: center;

  input {
    margin-right: 5px;
  }
}

.tournament-types, .opponents {
  display: inline-block;

  .toggleable {
    display: inline-block;
    margin-right: 2px;
    padding: 0 6px;
    border: 1px solid #999;
    border-radius: 15px;
    background: lightblue;
    font-size: small;

    &.inactive {
      background: none;
    }
  }
}
#games-chart {
  .year {
    margin: 20px 0;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
  }

  .tournament {
    margin: 5px 0px;
    border-bottom: 1px solid #088;

    &.grandslam {
      border-bottom: 3px solid #f88;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &.atpfinal, &.atp1000 {
      border-bottom: 2px solid #088;
    }

    .tournament-info {
      width: 150px;
      height: 45px;
      vertical-align: top;

      .type {
        font-size: small;
        vertical-align: bottom;
      }

      .name {
        font-weight: bold;
        font-size: small;
        vertical-align: bottom;
      }
    }

    div {
      display: inline-block;
      margin: 2px 0;
    }

    .game {
      width: 140px;
      padding: 2px 3px;
      vertical-align: top;
      border: 1px #acc;
      font-size: small;

      &.semifinal {
        font-size: normal;
        /*font-weight: bolder;*/
        border-radius: 4px;
        background: #ca6;
      }
      &.final {
        font-size: normal;
        /*font-weight: bolder;*/
        border-radius: 4px;
        background: #fe5;
        &.lose {
          background: #ddd;
        }
      }

      &.lose {
        font-weight: bolder;
        text-decoration: underline;
        /*text-shadow: 0.1em 0.1em 0.1em #999;*/
      }
    }
  }
}
