!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta(name="keywords" content="Tennis for fans,Tennis fans,Guoliang Cao,Tennis,ATP,ATP 1000,Grand Slam,Roger Federer,Novak Djokovic,Rafael Nadal,Andy Murray,David Ferrer,Del Potro,Berdych,Tsonga,Ranking,Tennis players,Schedule,Tournaments,Rank history,Win,Loss,Chart")
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    -# To set titles and descriptions globally and for each individual page, see /DOCS.md
    %title= page_title

    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1.0">

    -#Favicon Options:
    -#Update favicon_base.png in /source and middleman-favicon-maker will generate all the versions you need on 'middleman build'
    -#OR, place favicon.ico and apple-touch-icon.png in /source and deactivate :favicon_maker in config.rb

    %script(src='javascripts/vendor/modernizr-2.6.1.min.js')
    %link(href='stylesheets/site.css' rel='stylesheet')
    -#= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
    :coffeescript
      window.useLocalData = #{!! ENV['LOCAL_DATA']}
      window.jQuery || document.write('<' + 'script src="javascripts/vendor/jquery-1.8.0.min.js"><' + '/script>')
      window.ticketUrls = #{TICKET_URLS.to_json}
    %script(src='javascripts/site.js')
    -#%script(src='javascripts/test.js')
  %body
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    %header
      .wrap
        %h2
          %a(href='index.html')
            %img.logo(src='images/site-logo.gif')
        %ul#nav
          %li.rankings{toggle_tab('rankings')}
            %a(href='#/rankings') Rankings
          %li.rank-history{toggle_tab('rank-history')}
            %a(href='javascript:void(0)') Rank History
            %ul
              %li
                %a(href='#/rank-history/novak_djokovic,roger_federer,rafael_nadal,andy_murray') BIG FOUR
              %li
                %a(href='#/rank-history/novak_djokovic') Novak Djokovic
              %li
                %a(href='#/rank-history/roger_federer') Roger Federer
              %li
                %a(href='#/rank-history/andy_murray') Andy Murray
              %li
                %a(href='#/rank-history/rafael_nadal') Rafael Nadal
          %li.games{toggle_tab('games')}
            %a(href='javascript:void(0)') Games
            %ul
              %li
                %a(href='#/games/novak_djokovic,roger_federer,rafael_nadal,andy_murray') BIG FOUR
              %li
                %a(href='#/games/novak_djokovic') Novak Djokovic
              %li
                %a(href='#/games/roger_federer') Roger Federer
              %li
                %a(href='#/games/andy_murray') Andy Murray
              %li
                %a(href='#/games/rafael_nadal') Rafael Nadal
          %li.win-loss{toggle_tab('win-loss')}
            %a(href='javascript:void(0)') Win/Loss
            %ul
              %li
                %a(href='#/win-loss/novak_djokovic,roger_federer,rafael_nadal,andy_murray') BIG FOUR
              %li
                %a(href='#/win-loss/novak_djokovic') Novak Djokovic
              %li
                %a(href='#/win-loss/roger_federer') Roger Federer
              %li
                %a(href='#/win-loss/andy_murray') Andy Murray
              %li
                %a(href='#/win-loss/rafael_nadal') Rafael Nadal
              %li
                %a(href='#/win-loss/david_ferrer') David Ferrer
              %li
                %a(href='#/win-loss/tomas_berdych') Tomas Berdych
              %li
                %a(href='#/win-loss/juan_martin_del_potro') Juan Martin Del Potro
              %li
                %a(href='#/win-loss/jo_wilfried_tsonga') Jo-Wilfried Tsonga
          %li.tournaments{toggle_tab('schedule|tournament')}
            %a(href='javascript:void(0)') Schedules
            %ul
              %li
                %a(href='#/tournaments') Tournaments
              %li
                %a(href='#/schedule/novak_djokovic') Novak Djokovic
              %li
                %a(href='#/schedule/roger_federer') Roger Federer
              %li
                %a(href='#/schedule/andy_murray') Andy Murray
              %li
                %a(href='#/schedule/rafael_nadal') Rafael Nadal
          %li.support{toggle_tab('support')}
            %a(href='support.html') Support
    %div.main(role="main")= yield

    %footer
    :javascript
      if (!location.hostname.match('localhost')) {
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38153915-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      }

