%h2 Welcome to Guoliang's tennis page!

%p
  This site contains ATP's top 50 players' <a href='rankings.html'>current ranking</a>
  and top 10 players' <a href='rank-history.html'>rank history</a> starting from 2003.
  It also includes <a href='tournaments.html'>a map</a> for all professional-level tournaments occurred in 2013.

%br
%h2 Credit
%p Graphs on this site use data collected from <a href='http://www.atpworldtour.com/' target='_new'>ATP's homepage</a>. For further information about each player and tournament, please visit ATP directly.
%p
  This website uses
  <a href='http://jquery.com' target='_new'>jQuery</a>,
  <a href='http://d3js.org/' target='_new'>D3</a>,
  <a href='http://nvd3.org/' target='_new'>NVD3</a>,
  <a href='http://middlemanapp.com/' target='_new'>MiddleMan</a>,
  <a href='http://www.jqplot.com/' target='_new'>jqPlot</a> etc.
%p The data collected from ATP are stored in <a href='https://cloudant.com/' target='_new'>Cloudant</a>.
%p Both this website and its source code are hosted on <a href='http://github.com/gcao/tennis' target='_new'>github</a>, please feel free to clone and add functionalities you want.

%br
%h2 Support
%p Please leave your comments or suggestions <a href='support.html'>here</a>.
