%h2 Welcome to TennisForFans.com!

%p
  This site contains ATP's top 50 players' <a href='#/rankings'>current ranking</a>
  and their <a href='#/rank-history/novak_djokovic,roger_federer,rafael_nadal,andy_murray'>rank history</a> starting from 2003.
  It also includes <a href='#/tournaments'>a map</a> that shows ATP tournaments and Grand Slam events.
  Top players' <a href='#/win-loss/novak_djokovic,roger_federer,rafael_nadal,andy_murray'>overall win-loss chart</a> and <a href='#/win-loss/novak_djokovic,roger_federer,rafael_nadal,andy_murray?grandSlam'>grand-slam win-loss chart</a> are also neatly presented.

%br
%p Enjoy!

%br
%br
%h2 Credit
%p Charts on this site use data collected from <a href='http://www.atpworldtour.com/' target='_new'>ATP's homepage</a> and <a href='http://wikipedia.org' target='_new'>Wikipedia</a>. For further information about each player and tournament, please visit those websites directly.

%br
%h2 Support
%p Please leave your comments or suggestions <a href='support.html'>here</a>.
