%h2 Welcome to TennisForFans.com!

%p
  This site contains ATP's top 50 players' <a href='#/rankings'>current ranking</a>
  and their <a href='#/rank-history/novak_djokovic,roger_federer,rafael_nadal,andy_murray'>rank history</a> starting from 2003.
  It also includes <a href='#/tournaments'>a map</a> that shows all professional-level tournaments occurred in 2013.
  Top players' <a href='#/win-loss/novak_djokovic,roger_federer,rafael_nadal,andy_murray'>overall win-loss chart</a> and <a href='#/win-loss/novak_djokovic,roger_federer,rafael_nadal,andy_murray?grandSlam'>grand-slam win-loss chart</a> are also neatly presented.

%br
%h2 Credit
%p Charts on this site use data collected from <a href='http://www.atpworldtour.com/' target='_new'>ATP's homepage</a> and <a href='http://wikipedia.org' target='_new'>Wikipedia</a>. For further information about each player and tournament, please visit them directly.
%p
  This website uses
  <a href='http://jquery.com' target='_new'>jQuery</a>,
  <a href='http://d3js.org/' target='_new'>D3</a>,
  <a href='http://nvd3.org/' target='_new'>NVD3</a>,
  <a href='http://middlemanapp.com/' target='_new'>MiddleMan</a>,
  <a href='http://www.jqplot.com/' target='_new'>jqPlot</a> etc.
%p The data collected are stored in <a href='https://cloudant.com/' target='_new'>Cloudant</a>.
%p Both this website and its source code are hosted on <a href='http://github.com/gcao/tennis' target='_new'>github</a>, please feel free to clone and add functionalities you want.

%br
%h2 Support
%p Please leave your comments or suggestions <a href='support.html'>here</a>.
