%h2
  ATP rankings chart for top 50 players
  %span.generated-note (generated at <span class='generated-at'></span>)

#rankings-chart

%script(src='javascripts/vendor/d3.v2.min.js')
%script(src='javascripts/jquery.jqplot.min.js')
%script(src='javascripts/jqplot.canvasTextRenderer.min.js')
%script(src='javascripts/jqplot.canvasAxisTickRenderer.min.js')
%script(src='javascripts/jqplot.categoryAxisRenderer.min.js')
%script(src='javascripts/jqplot.barRenderer.min.js')
%script(src='javascripts/jqplot.highlighter.min.js')
%script(src='javascripts/jqplot.cursor.min.js')
%script(src='javascripts/jqplot.pointLabels.min.js')
%script(src='data/rankings.js')
:javascript
  window.onload = function(){
    updateGenerationTime(rankings.generated_at);

    window.d = $.map(rankings.data, function(v, i){return [[v.rank + ' ' + v.last, v.points]]});

    $.jqplot('rankings-chart', [d], {
      series: [{
        renderer:$.jqplot.BarRenderer,
        rendererOptions:{
          barWidth: 14,
          barMargin: 2,
          barPadding: 2
        },
      }],
      axesDefaults: {
        tickRenderer: $.jqplot.CanvasAxisTickRenderer,
        tickOptions: {
          showGridLine: false,
          angle: -35,
          fontSize: '10pt',
          fontFamily: 'Georgia'
        }
      },
      axes: {
        xaxis: {
          renderer: $.jqplot.CategoryAxisRenderer
        },
        yaxis: {
          min: 0,
          max: 15000,
          numberTicks: 7,
          autoscale:true
        }
      }
    });
    $('#rankings-chart').bind('jqplotDataClick',
      function (ev, seriesIndex, pointIndex, data) {
        if (window.console) console.log(seriesIndex, pointIndex, data);
      }
    );
  }

