-# Get players list from url parameter like players=a_b,c_d, default to Roger Federer etc
-# Get from-year and to-year from url
%h2
  ATP rank history
  %span.generated-note (generated at <span class='generated-at'></span>)

#timespan
  Time span:
  %select(name='start-year')
    %option(value='2003') 2003
    %option(value='2004') 2004
    %option(value='2005') 2005
    %option(value='2006') 2006
    %option(value='2007') 2007
    %option(value='2008') 2008
    %option(value='2009') 2009
    %option(value='2010') 2010
    %option(value='2011') 2011
    %option(value='2012') 2012
    %option(value='2013') 2013
  \-
  %select(name='end-year')
    %option(value='2013') 2013
  %button.update Update Graph

#players

#rank-history
  %svg

= stylesheet_link_tag 'nv.d3'
= javascript_include_tag 'vendor/d3.v2.min'
= javascript_include_tag 'vendor/nv.d3.min'
= javascript_include_tag '/data/rankings'
:javascript
  window.onload = function(){
    $('.generated-at').text(rankings.generated_at);

    $.each(rankings.data, function(i, r){
      if (i >= 10) return;

      var name = r.first + ' ' + r.last;
      var value = (r.first + '_' + r.last).toLowerCase().replace(/[ -]/g, '_');
      $('#players').append('<div class="player"><input type="checkbox" name="player" value="' + value + '"><span>' + name + '</span></div>');
    });

    $('button.update').click(function(){
      var players = $('[name=player]:checked').map(function(){
        return this.value;
      });
      if (players.length === 0) {
        alert('No player is selected.');
      } else if (players.length === 1) {
        window.location = location.pathname + '?players=' + players[0];
      } else {
        var s = players[0];
        for (var i=1; i<players.length; i++) {
          s += ',' + players[i];
        }
        window.location = location.pathname + '?players=' + s;
      }
    });

    var playersParam = getQueryVar('players');
    var players = null;
    if (playersParam && playersParam !== '') {
      players = playersParam.split(',');
    } else {
      players = ['novak_djokovic', 'roger_federer', 'rafael_nadal', 'andy_murray'];
    }
    $.each(players, function(i, p){ $('[value=' + p + ']').click(); });
    loadAndShowRankHistory(players);
  }

