%h2
  ATP rankings chart for top 50 players
  %span.generated-note (generated at <span class='generated-at'></span>)

#rankings-chart(style='height: 1000px')
.backToHome <a href='index.html'>Back to home</a>

#contextMenu
  <li><a href="#" target="_new">Homepage</a></li>
  <li><a href="#">Rank History</a></li>

%script(src='javascripts/rankings.js')
:coffeescript
  loadData "rankings", (rankings) ->
    # http://www.ifadey.com/2011/07/context-menu-using-raw-javascript/
    ContextMenu = (menu, contextHandler) ->
      hide = true
      menu = document.getElementById(menu)
      @trigger = (x, y) ->
        hide = false
        menu.style.top = y + "px"
        menu.style.left = x + "px"
        menu.style.display = "block"

      $("body").click () ->
        menu.style.display = "none"  if hide
        hide = true

    window.contextMenu = new ContextMenu("contextMenu")

    updateGenerationTime rankings.generated_at
    window.d = $.map(rankings.data, (v, i) ->
      [[v.points, v.rank + " " + v.last]]
    ).reverse()
    $.jqplot "rankings-chart", [d],
      series: [
        shadowAngle: 135
        pointLabels:
          show: true
          color: "#333"
          location: "e"
        renderer: $.jqplot.BarRenderer
        rendererOptions:
          barDirection: "horizontal"
          barWidth: 10
          barMargin: 2
          barPadding: 2
      ]
      axesDefaults:
        tickRenderer: $.jqplot.CanvasAxisTickRenderer
        tickOptions:
          showGridLine: false
          fontSize: "10pt"
          fontFamily: "Georgia"

      axes:
        yaxis:
          renderer: $.jqplot.CategoryAxisRenderer
        xaxis:
          min: 0
          max: 15000
          numberTicks: 7
          autoscale: true

    $("#rankings-chart").bind "jqplotDataClick", (event, seriesIndex, pointIndex, data) ->
      #contextMenu.trigger(event.pageX || event.clientX, event.pageY || event.clientY)

