%h2
  ATP rankings chart for top 50 players
  %span.generated-note (generated at <span class='generated-at'></span>)

%form#rankings-form(action="#" method="get")
  %input#ytd(type="checkbox" name="ytd" value="true" onclick="toggle($(this).attr('checked'))")
  %label(for="ytd") Year To Date

#rankings-chart(style='height: 1000px')
.backToHome <a href='index.html'>Back to home</a>

#contextMenu
  <li><a href="#" target="_new">Homepage</a></li>
  <li><a href="#">Rank History</a></li>

%script(src='javascripts/vendor/d3.v2.min.js')
:javascript
  // http://d3-generator.com/
  var valueLabelWidth = 50; // space reserved for value labels (right)
  var barHeight       = 20; // height of one bar
  var barLabelWidth   = 100; // space reserved for bar labels
  var barLabelPadding = 5; // padding between bar and bar labels (left)
  var gridLabelHeight = 18; // space reserved for gridline labels
  var gridChartOffset = 3; // space between start of grid and first bar
  var maxBarWidth     = 920; // width of the bar with the max value
  var dataLength      = 50;
  var yMax            = 13999; // Avoid draw 14000 vertical grid
   
  function i2rank(i) {
    i += 1;
    if (i < 10) {
      return "  " + i;
    } else {
      return " " + i;
    }
  }
  // accessor functions 
  var barLabel = function(d, i) { return d['last'] + i2rank(i); };
  var barValue = function(d) { return parseFloat(d['points']); };
   
  // scales
  var yScale = d3.scale.ordinal().domain(d3.range(0, dataLength)).rangeBands([0, dataLength * barHeight]);
  var y      = function(d, i) { return yScale(d.rank - 1); };
  var yText  = function(d, i) { return y(d, d.rank - 1) + yScale.rangeBand() / 2; };
  var x      = d3.scale.linear().domain([0, yMax]).range([0, maxBarWidth]);
  // svg container element
  var chart  = d3.select('#rankings-chart').append("svg")
    .attr('width', maxBarWidth + barLabelWidth + valueLabelWidth)
    .attr('height', gridLabelHeight + gridChartOffset + dataLength * barHeight);

  // grid line labels
  var gridContainer = chart.append('g')
    .attr('transform', 'translate(' + barLabelWidth + ',' + gridLabelHeight + ')'); 
  gridContainer.selectAll("text").data(x.ticks(5)).enter().append("text")
    .attr("x", x)
    .attr("dy", -3)
    .attr("text-anchor", "middle")
    .text(String);
  // vertical grid lines
  gridContainer.selectAll("line").data(x.ticks(5)).enter().append("line")
    .attr("x1", x)
    .attr("x2", x)
    .attr("y1", 0)
    .attr("y2", yScale.rangeExtent()[1] + gridChartOffset)
    .style("stroke", "#ccc");
  // bar labels
  var labelsContainer = chart.append('g')
    .attr('transform', 'translate(' + (barLabelWidth - barLabelPadding) + ',' + (gridLabelHeight + gridChartOffset) + ')'); 
  var barsContainer = chart.append('g')
    .attr('transform', 'translate(' + barLabelWidth + ',' + (gridLabelHeight + gridChartOffset) + ')'); 
  // start line
  //barsContainer.append("line")
  //  .attr("y1", -gridChartOffset)
  //  .attr("y2", yScale.rangeExtent()[1] + gridChartOffset)
  //  .style("stroke", "#000");

  function toggle(ytd){
    if (ytd) {
      loadData("rankings_ytd", function(rankings){ showChart(rankings); });
    } else {
      loadData("rankings", function(rankings){ showChart(rankings); });
    }
  }

  function showChart(rankings) {
    updateGenerationTime(rankings.generated_at);

    var data = rankings.data;

    labelsContainer.selectAll('text').data(data).enter().append('text')
      .attr('y', yText)
      .attr('stroke', 'none')
      .attr('fill', 'black')
      .attr("dy", ".35em") // vertical-align: middle
      .attr('text-anchor', 'end')
      .text(barLabel);
    // bars
    var bars = barsContainer.selectAll("rect")
      .data(data, function(d){ return d.first + d.last; });
    bars.enter().append("rect")
      //.attr('y', yScale(49))
      //.transition().duration(1000)
      .attr('y', y)
      .attr('height', yScale.rangeBand())
      .attr('width', function(d) { return x(barValue(d)); })
      .attr('stroke', 'white')
      .attr('fill', 'steelblue');
    bars.transition()
      .duration(1000)
      .attr('width', function(d) { return x(barValue(d)); });
    bars.exit()
      .transition().duration(1000)
      .attr('y', yScale(49))
      .remove();
    // bar value labels
    barsContainer.selectAll("text").data(data).enter().append("text")
      .attr("x", function(d) { return x(barValue(d)); })
      .attr("y", yText)
      .attr("dx", 3) // padding-left
      .attr("dy", ".35em") // vertical-align: middle
      .attr("text-anchor", "start") // text-align: right
      .attr("fill", "black")
      .attr("stroke", "none")
      .text(function(d) { return d3.round(barValue(d), 2); });
  }

  //loadData2(["rankings", "rankings_ytd"]).then(function(rankings, rankings2){
  //  showChart(rankings[0], rankings2[0]);
  //});
  loadData("rankings", function(rankings){ showChart(rankings); });

