%h2
  Top players' win/loss chart

#win-loss-chart(style='height: 300px')

%script(src='javascripts/win-loss.js')
:coffeescript
  loadData 'roger_federer_win_loss', (data) ->
    ticks = $.map(data.data, (v) -> '' + v[0])
    winData = $.map(data.data, (v) ->
      v[1]
    )
    lossData = $.map(data.data, (v) ->
      v[2]
    )
    $.jqplot "win-loss-chart", [winData, lossData],
      stackSeries: true
      pointLabels:
        show: true
      seriesDefaults:
        shadowAngle: 135
        renderer: $.jqplot.BarRenderer
        rendererOptions:
          barWidth: 10
          barMargin: 2
          barPadding: 2
      legend:
        renderer: $.jqplot.EnhancedLegendRenderer
        location: 'ne'
        placement: 'inside'
        show: true
      axes:
        yaxis:
          pad: 0
        xaxis:
          renderer: $.jqplot.CategoryAxisRenderer
          ticks: ticks

